div.option_row 
{
    min-width: 150px;
    max-width: 600px;
    text-align: left;
    margin-bottom: 10px;
    overflow: hidden;
    clear:none;
 }

div.option_title
{
    width: 150px;
    text-align: right;
    padding: 0px 15px 0px 2px;
    margin-bottom: 10px;
    overflow: hidden;
    float: left;
    clear: left;
   font-size: .9em;
   font-weight: bold;
   color: #222;
}